  <div class="login_bg">
    <form id="contact-form" method="POST">
      {% for field in form %}
        {% if field.name != "csrf_token" %}
          <div class="form-group">
            <div class="col-lg-2">
                <h3>{{ field.label(class="control-label") }}</h3>
            </div>
            <div class="col-lg-4">
              {% if field.type != "SelectMultipleField" %}
                {{ field(class="form-control") }}
              {% else %}
                {% for choice in field %}
                  <div class="form-check">
                    {{ choice(class="form-check-input") }}
                    {{ choice.label(class="form-check-label") }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          {% if field.errors %}
          <ul class="errors list-unstyled col-lg-4">
            {% for error in field.errors %}
            <li class="alert alert-danger">{{ field.label }} {{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
      {{ form.csrf_token }}
      <div class="form-group">
        <div class="col-lg-2">
          <input type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>