<form id="form" method="POST">
  {% for field in form %}
    {% if field.name != "csrf_token" %}
      <p class="form-group">
        <p>
          <h3>{{ field.label(class="control-label") }}</h3>
        </p>
        <p>
          {% if field.type != "SelectMultipleField" %}
            {{ field(class="form-control") }}
          {% else %}
            {% for choice in field %}
              <p class="form-check">
                {{ choice(class="form-check-input") }}
                {{ choice.label(class="form-check-label") }}
              </>
            {% endfor %}
          {% endif %}
        </p>
      </p>
      {% if field.errors %}
        <ul class="errors list-unstyled">
          {% for error in field.errors %}
            <li class="alert alert-danger">{{ field.label }} {{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  {% endfor %}
  {{ form.csrf_token }}
  <p class="form-group">
    <input type="submit" value="Submit">
  </p>
</form>
